################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpandableDetailGridView.Demo/.vs/ExpandableDetailGridView.Demo/v14
