################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpandableDetailGridView.Demo/.vs/ExpandableDetailGridView.Demo/v14
/ExpandableDetailGridView.Demo/Control/bin
/ExpandableDetailGridView.Demo/Control/obj
/ExpandableDetailGridView.Demo/ExpandableDetailGridView.Demo/bin
/ExpandableDetailGridView.Demo/ExpandableDetailGridView.Demo/obj
